<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>SistemaGerenciamentoTarefas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTasksServlet</display-name>
    <servlet-name>ListTasksServlet</servlet-name>
    <servlet-class>ListTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTasksServlet</servlet-name>
    <url-pattern>/ListTasksServlet</url-pattern>
  </servlet-mapping>
</web-app>